body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: green;
  background-image: url(https://images.unsplash.com/photo-1629197520635-16570fbd0bb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2048&q=80);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: white
  }


  #boca-abajo {
    border-radius: 25px;
  }

  #button-dameCarta:hover,
  #me-planto:hover,
  #nueva-partida:hover,
  #boton-deduccion:hover {
    color: #363dbb;
  }

  #show-score,
  #estado-juego {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  #button-dameCarta,
  #me-planto,
  #nueva-partida,
  #boton-deduccion {
    border-radius: 20px;
    border: 2px solid red;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: whitesmoke;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .button-group {
    display: inline-flex;
    gap: 20px;
  }

  .app {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    gap: 16px;
  }

}